@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@plugin "daisyui";

#root {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  scrollbar-width: none;
}
* {
  scrollbar-width: none;
  /* scrollbar-color: blue rgb(0, 119, 255); */
}

.font-cur {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .animate-bg-zoom {
    animation: bg-zoom 10s ease-in-out infinite;
  }

  @keyframes bg-zoom {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
}
